<section id="features" class="relative z-10 pt-[110px]">
        <div class="container">
          <div
            class="wow fadeInUp mx-auto mb-14 max-w-[690px] text-center lg:mb-[70px]"
            data-wow-delay=".2s"
          >
            <h2
              class="mb-4 text-3xl font-bold text-black dark:text-white sm:text-4xl md:text-[44px] md:leading-tight"
            >
              Packed with features that enhance every visit
            </h2>
            <p class="text-base text-body">
              Transform the way your visitors explore, engage, and connect with your exhibits.
               <!-- through a seamless, mobile-friendly experience -- no apps or downloads required. -->
            </p>
          </div>
        </div>
      </section>